<head>
  <title><%= headData.title %></title>
  <meta charset="utf-8" />

  <% headData.meta.forEach((item) => { %>
  <meta name="<%= item.name %>" content="<%= item.content %>" />
  <% }) %>

  <% headData.link.forEach((item) => { %>
  <link rel="<%= item.rel %>" href="<%= item.href %>" />
  <% }) %>

  <script type="text/javascript" src="js/browser-check.js"></script>

  <script type="module">
    import {
      Config
    } from '/js/Config.js';

    window.Config = Config;
  </script>
  <script>
    const ServerUpgradeLogo = '/images/upgrade.png';
    const FACESCAN_SUCCESSFUL_SOUND_FILE =
      '/audio/facescan_successful_sound_file.mp3';
    const PLEASE_FRAME_YOUR_FACE_SOUND_FILE =
      '/audio/please_frame_your_face_sound_file.mp3';
    const PLEASE_MOVE_CLOSER_SOUND_FILE =
      '/audio/please_move_closer_sound_file.mp3';
    const PLEASE_PRESS_BUTTON_SOUND_FILE =
      '/audio/please_press_button_sound_file.mp3';
    const PLEASE_RETRY_SOUND_FILE = '/audio/please_retry_sound_file.mp3';
    const UPLOADING_SOUND_FILE = '/audio/uploading_sound_file.mp3';

    fetch('/js/FaceTec_OCR_Customization.json')
      .then((response) => response.json())
      .then((data) => (window.ocrLocalizationJSON = data));
  </script>
</head>